body {
  background-color: black;
}
#paco > img {
  height: 70px;
  float: left;
  padding: 3px;
}
#paco {
  padding: 11px;
  overflow: auto;
  background-color: white;
}
#paco > ul li {
  float: right;
  list-style: none;
}
#paco > ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 20px;
  border: 2px solid black;
  padding: 12.1px;
  border-radius: 60px;
  font-family: "Times New Roman", Times, serif;
}
#pacu > h2 {
  color: rgb(247, 10, 10);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  height: 100px;
  background-image: url(../images/Lovecraft2.jpg);
}
#T1 {
  color: white;
  text-align: center;
  border: 2px solid white;
}
main {
  max-width: 1000px;
  margin: 0 auto;
}
main h2 {
  color: white;
  text-align: center;
}
main #mandingo img {
  height: 350px;
  float: left;
  padding: 0px 20px 0px 0px;
}
main #mandingo {
  color: white;
}
main #T2 img {
  height: 350px;
  float: right;
  padding: 0px 0px 0px 20px;
}
main #T2 {
  color: white;
}
main #T3 {
  color: white;
  padding: 0px 0px 10px 0px;
}
main #T3 img {
  height: 350px;
  float: left;
  padding: 0px 30px 0px 0px;
}
main #T4 img {
  height: 350px;
  float: right;
  padding: 10px 0px 0px 20px;
}
main #T4 p {
  color: white;
  padding-top: 10px;
  padding-right: 20px;
}
main #T4 {
  color: white;
  padding-bottom: 50px;
}
main #T4 ul li {
  color: white;
}
footer {
  background-color: white;
}
footer h3 {
  text-align: center;
  text-decoration: none;
}
footer h3 a {
  text-decoration: none;
  color: black;
}
