body {
  background-color: black;
}
#Top > img {
  height: 76px;
  float: left;
  padding: 3px;
}
#Top {
  padding: 11px;
  overflow: auto;
  background-color: white;
}
#Top > ul li {
  float: right;
  list-style: none;
}
#Top > ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 20px;
  border: 2px solid black;
  padding: 12.1px;
  border-radius: 60px;
  font-family: "Times New Roman", Times, serif;
}
#Top2 > h2 {
  color: rgb(247, 10, 10);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  height: 100px;
  background-image: url(../images/Lovecraft2.jpg);
}
main {
  max-width: 1000px;
  margin: 0 auto;
  color: white;
}
main h1 {
  color: white;
  text-align: center;
}
main #PandA p {
  text-align: center;
}
main #PandA p a {
  text-align: center;
  color: white;
  padding: 9px;
  text-decoration: none;
}

h3,
h4,
h5,
h6 {
  font-family: "Lateef", serif;
  border-bottom: 2px solid white;
}

main table {
  color: white;
}

main table #left img {
  height: 80px;
  object-fit: cover;
  margin: auto;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}

table #left td p {
  margin: 20px;
  text-align: center;
  border: 1px solid white;
  padding-bottom: 10px;
}
table #left td p a {
  color: white;
}

table #midleft {
  width: 25%;
  vertical-align: top;
  border-left: 1px solid white;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-top: 8px;
}
main table #midleft img {
  height: 80px;
  object-fit: cover;
  margin: auto;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}
table #midleft td p {
  margin: 30px;
  text-align: center;
  border: 1px solid white;
  padding-bottom: 10px;
}
table #midleft td p a {
  color: white;
}
table #midright {
  width: 25%;
  vertical-align: top;
  border-left: 1px solid white;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 6px;
  padding-right: 10px;
}
main table #midright img {
  height: 80px;
  object-fit: cover;
  margin: auto;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}
table #midright td p {
  margin: 30px;
  text-align: center;
  border: 1px solid white;
  padding-bottom: 10px;
}
table #midright td p a {
  color: white;
}
table #right {
  width: 25%;
  vertical-align: top;
  border-left: 1px solid white;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
}
main table #right img {
  height: 80px;
  object-fit: cover;
  margin: auto;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}
table #right td p {
  margin: 30px;
  text-align: center;
  border: 1px solid white;
  padding-bottom: 10px;
}
table #right td p a {
  color: white;
}
footer {
  background-color: white;
}
footer h3 {
  text-align: center;
  text-decoration: none;
}
footer h3 a {
  text-decoration: none;
  color: black;
}
