body {
  background-color: black;
}
#paco > img {
  height: 70px;
  float: left;
  padding: 3px;
}
#paco {
  padding: 11px;
  overflow: auto;
  background-color: white;
}
#paco > ul li {
  float: right;
  list-style: none;
}
#paco > ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 20px;
  border: 2px solid black;
  padding: 12.1px;
  border-radius: 60px;
  font-family: "Times New Roman", Times, serif;
}
#pacu > h2 {
  color: rgb(247, 10, 10);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  height: 100px;
  background-image: url(../Lovecraft/images/Lovecraft\ 2.jpg);
}
main {
  max-width: 1000px;
  margin: 0 auto;
}
main > #mending {
  color: white;
  text-align: center;
}
main #mandingo img {
  height: 300px;
  float: left;
}
main #mandingo {
  color: white;
  float: right;
}
main #mandingo ul li {
  list-style: none;
}
